@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-shake {
  animation: shake 0.5s;
}
/* dans index.css si tu veux */
#googleSignIn > div {
  width: 100% !important;
  min-width: 0 !important;
  height: 40px !important;
  overflow: hidden;
}
